/* Gruvbox Dark Theme */
// Standard CSS normalize, comment out if not required or using a different module
@use "minireset.css/minireset";
@use "igniteui-angular/theming" as *;

@include core();
@include typography();

// Gruvbox Dark Palette
$gruvbox-dark-palette: palette($primary: #458588, // Gruvbox blue
    $secondary: #d79921, // Gruvbox yellow
    $surface: #282828, // Gruvbox bg
    $info: #458588, // Gruvbox blue
    $success: #98971a, // Gruvbox green
    $warn: #d79921, // Gruvbox yellow
    $error: #cc241d // Gruvbox red
  );

@include theme($palette: $gruvbox-dark-palette, $schema: $dark-material-schema);

body {
  background: var(--ig-surface-500);
  color: var(--ig-surface-500-contrast);
}

html,
body {
  height: 100%;
}

.ig-typography {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .ig-typography__body-1 {
    margin: 0;
  }
}

.outer-wrapper>*:not(router-outlet) {
  width: 100%;
}